*.xcodeproj/project.xcworkspace/
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
DerivedData/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
build/
.build/
Packages/
Pods/
.DS_Store
*.swp
*~
.idea/
*.code-workspace
.vscode/
